= render partial: 'partials/nav'
= render partial: 'partials/top'
.row-fluid.phxxl
  .col-xs-8.col-sm-8.col-md-8.col-lg-8.mtxl
    = link_to '/install', class: 'type-neutral-2' do
      .panel.panel-clickable-alt.bg-neutral-11{ style: 'border: 1px solid #eeeeee;'}
        .panel-body.txt-c
          .title
            .activity-icon.mtxl.mbl
              .fa.fa-icon.fa-cloud-download{ style: 'font-size: 64px'}
            .h1.man.mbxl.em-low
              Install
  .col-xs-8.col-sm-8.col-md-8.col-lg-8.mtxl
    = link_to '/use', class: 'type-neutral-2' do
      .panel.panel-clickable-alt.bg-neutral-11{ style: 'border: 1px solid #eeeeee;'}
        .panel-body.txt-c
          .title
            .activity-icon.mtxl.mbl
              .fa.fa-icon.fa-terminal{ style: 'font-size: 64px'}
            .h1.man.mbxl.em-low
              Use
  .col-xs-8.col-sm-8.col-md-8.col-lg-8.mtxl
    = link_to '/extend', class: 'type-neutral-2' do
      .panel.panel-clickable-alt.bg-neutral-11{ style: 'border: 1px solid #eeeeee;'}
        .panel-body.txt-c
          .title
            .activity-icon.mtxl.mbl
              .fa.fa-icon.fa-cogs{ style: 'font-size: 64px'}
            .h1.man.mbxl.em-low
              Extend
= render partial: 'partials/bottom'